[run]
omit =
    ./tests/*
    ./venv/*
    ./docs/*
    ./examples/*
    ./demo/*
    */tests/*
    setup.py
[report]
precision = 2
show_missing = True
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    noqa