scikit-learn>=1.1.0
deap>=1.3.3
numpy>=1.19.0
pytest==7.1.1
codecov==2.1.11
pytest-cov==3.0.0
twine==3.3.0
seaborn>=0.11.2
mlflow>=1.30.0
tcl==0.2
black==21.5b2
sphinx
sphinx_gallery
sphinx_rtd_theme
sphinx-copybutton
numpydoc
nbsphinx
tensorflow>=2.0.0
tqdm>=4.61.1
tk
